// TODO: stylize scrollbar
.page-selector {
  background: #00000067;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 0px 10px 10px 0px;
  margin: 0;
  width: 50%;
  box-sizing: border-box;
  align-items: end;
  padding: 15px 12px;

  @include fromDesktopScreen {
    padding: 20px 17px;
  }

  @include toPhoneScreen {
    padding: 10px 6px;
  }

  &__hidden {
    position: fixed;
    top: 50vh;
    transform: translate(-45%, -50%);
    z-index: 2;
    transition: all 200ms;
    transition-delay: 3.5s;
    animation: jumpPageSelector 6s normal;
    width: 100px;
    padding: 40px 0;

    @include fromDesktopScreen {
      width: 150px;
      animation: none;
      transform: translate(-10%, -50%);
    }

    @include toPhoneScreen {
      width: 70px;
    }

    &:hover {
      transform: translate(-10%, -50%);
      transition-delay: 0s;
      // adding "s" to "0s" will actually make it work
    }
  }

  &__page {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    position: relative;

    @include fromDesktopScreen {
      width: 28px;
      height: 28px;
    }

    &:before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background-color: rgba(255, 255, 255, 0.466);
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      border-radius: 20px;
      transition: all 200ms ease-in-out;

      @include fromDesktopScreen {
        width: 10px;
        height: 10px;
      }
    }
    // only affects devices that can hover
    @media (hover: hover) {
      &:hover:before {
        background-color: white;
        width: 8px;
        height: 8px;

        @include fromDesktopScreen {
          width: 14px;
          height: 14px;
        }

        @include toPhoneScreen {
          width: 10px;
          height: 10px;
        }
      }
    }

    &-selected {
      pointer-events: none;
      &:before {
        background-color: white;

        @include fromDesktopScreen {
          width: 22px;
          height: 22px;
        }

        width: 12px;
        height: 12px;
      }
    }
  }
}

.card {
  display: flex;
  height: 90vh;
  width: 100vw;
  align-items: center;
  padding: 30px 50px;
  box-sizing: border-box;

  &-welcome {
    margin-bottom: 1px;
    height: 100vh;
  }

  @include toPhoneScreen {
    padding: 20px 32px;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    align-items: center;
    padding: 0 100px;
    font-size: 40px;
    font-weight: 500;

    @include toTabletScreen {
      padding: 0;
      font-size: 30px;
      line-height: 40px;
    }

    @include toTabletScreenMin {
      font-size: 25px;
      line-height: 35px;
    }

    @include toPhoneScreen {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__arrow {
    display: flex;
    position: absolute;
    animation: jumpInfinite 4s infinite;
    filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.512));
    top: 80%;
    right: 7%;
    padding: 5px;
    -webkit-tap-highlight-color: transparent;

    @include toTabletScreen {
      width: 50px;
    }

    @include toPhoneScreen {
      margin: 20px;
      top: 70%;
    }

    &-img {
      width: 120px;
      cursor: pointer;
      transition: all 200ms ease-in-out;
      opacity: 0.7;

      & > path {
        stroke: url("#gBaseColors");
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.commoner {
  margin: 0;
  padding: 0 8px 0 0;
  position: relative;

  & .react-typed {
    position: absolute;
    
  }
  
  &__background {
    text-shadow: none;
    background: transparent;
    background-clip: border-box;
    color: transparent;
    opacity: 0;
  }
}

.hidden {
  display: inline-block;
  visibility: hidden;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: 40px;
  }
  50% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes jumpPageSelector {
  0% {
    transform: translate(-10%, -50%);
  }
  95% {
    transform: translate(-10%, -50%);
  }
  100% {
    transform: translate(-45%, -50%);
  }
}
