.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 85px;
  margin: 0 auto;
  align-items: center;
  max-height: 100vh;

  @include toTabletScreen {
    gap: 60px;
  }
}

.card-reviews__content {
  text-align: center;
}

.review-slide {
  display: grid;
  gap: 20px;
  font-size: 25px;
  width: 100%;
  padding: 0 80px 50px 80px;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 400px auto;
  grid-template-areas:
    "cover head"
    "cover content";

  @include toTabletScreenMin {
    margin: 0;
    grid-template-areas:
      "cover head"
      "content content";
  }

  @include toTabletScreen {
    grid-template-columns: 240px auto;
    padding: 0 5px 80px 5px;
  }

  @include toPhoneScreen {
    gap: 5px;
    grid-template-columns: 150px auto;
  }

  &__divider {
    &--content {
      display: flex;
      padding: 0 10px;
      align-items: center;
      font-size: 12px;
      font-weight: 200;
      opacity: 0.8;
      text-wrap: nowrap;
      gap: 10px;
      font-style: italic;

      @include toTabletScreen {
        font-size: 10px;
        padding: 0 8px;
        gap: 6px;
      }
    }
    &--icon {
      box-sizing: border-box;
      display: flex;
      height: 6px;
      aspect-ratio: 9/3;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-blend-mode: screen;
      margin-top: 2px;
      transform: rotate(20deg);
      animation: standout 6s ease infinite;

      @include toTabletScreen {
        height: 5px;
      }

      @include toPhoneScreen {
        height: 4px;
      }

      &:hover {
        animation: standoutquick 1s ease normal;
      }
    }
  }

  &__description {
    padding: 5px 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__cover {
    aspect-ratio: 4/5;
    filter: drop-shadow(8px 6px 8px rgba(0, 0, 0, 0.226));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    border-radius: 20px;
    grid-area: cover;
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    grid-area: head;

    @include toTabletScreenMin {
      flex-direction: column;
      padding-left: 8px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    font-size: 25px;
    font-weight: 300;
    width: 100%;
    grid-area: content;

    &--link {
      text-shadow: 3px 1px 5px rgba(195, 186, 188, 0.5);
      transition: all 200ms ease;
      background-color: rgba(255, 255, 255, 0);
      display: inline-block;
      text-decoration: underline;

      &:hover {
        text-shadow: 3px 1px 15px rgba(195, 186, 188, 0.569);
        background-color: rgba(255, 255, 255, 0.185);
      }
    }

    @include toTabletScreen {
      font-size: 18px;
    }
  }

  &__score {
    width: 80px;

    @include toTabletScreenMin {
      width: 65px;
      &-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &--title {
      font-weight: 700;
      font-variation-settings: "slnt" -8;
      text-shadow: 3px 1px 10px rgba(195, 186, 188, 0.165);
      font-size: 20px;
      display: none;

      @include toTabletScreenMin {
        display: inline-block;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-variation-settings: "slnt" -8;
    text-shadow: 3px 1px 10px rgba(195, 186, 188, 0.165);
    font-size: 30px;
    flex: 1 0 0;
    text-align: start;
    display: flex;
    align-items: center;

    @include toTabletScreenMin {
      text-align: center;
      font-size: 25px;
    }
  }
}

.carousel-reviews {
  max-width: 1100px;
  width: 100%;
  box-sizing: border-box;

  .control-dots {
    margin: 0;

    @include toTabletScreen {
      bottom: 35px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .dot {
      width: 20px;
      height: 20px;
      background: transparent;
      box-shadow: none;
      opacity: 1;
      position: relative;

      @include toTabletScreenMin {
        margin: 0 2px;
      }

      &:before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.466);
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: all 200ms ease-in-out;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.233);

        @include toTabletScreenMin {
          width: 6px;
          height: 6px;
        }
      }

      &.selected:before {
        background-color: white;
        width: 20px;
        height: 20px;

        @include toTabletScreenMin {
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  & .carousel-slider {
    height: 100%;
    padding-bottom: 20px;

    @include toTabletScreenMin {
      padding: 0;
    }
  }
  & .slider-wrapper {
    height: 100%;
  }

  &__arrow {
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    opacity: 0.5;
    transition: all 200ms ease-in-out;
    top: 50%;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.521);
    transform: translate(0, -50%);
    background-color: rgba(118, 130, 141, 0.267);
    transition: all 200ms ease;
    border: 2px solid color-mix(in srgb, var(--support) 50%, white);

    @supports not (
      border: 2px solid color-mix(in srgb, var(--support) 50%, white)
    ) {
      border: 2px solid white;
    }

    @include toTabletScreen {
      top: 100%;
      transform: translate(0, -150%);
    }

    &:before {
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: center;
      transform: translate(-30%, -50%) rotate(135deg);
      border-bottom: 2px solid white;
      border-right: 2px solid white;
      z-index: 1;
    }

    &--next {
      right: 5px;

      &:before {
        transform: translate(-70%, -50%) rotate(-45deg);
      }
    }

    &--prev {
      left: 5px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.CircularProgressbar {
  .CircularProgressbar-path {
    stroke: url("#gBaseColors");
  }

  .CircularProgressbar-text {
    font-weight: 800;
    fill: white;
    text-shadow: 3px 3px 10px
      color-mix(in srgb, var(--primary) 50%, transparent);
    font-size: 30px;
    font-variation-settings: "slnt" -8;
    height: 80px;

    @supports not (
      text-shadow: 3px 3px 10px
        color-mix(in srgb, var(--primary) 60%, transparent)
    ) {
      text-shadow: 3px 3px 10px rgba(195, 186, 188, 0.31);
    }
  }
}

// css hack for targeting only safari
@supports (-webkit-hyphens: none) {
  .CircularProgressbar .CircularProgressbar-text {
    transform: translateY(8px);
    text-shadow: 3px 1px 10px rgba(195, 186, 188, 0.773);
  }

  .review-slide__title {
    text-shadow: -2px 1px 10px rgba(195, 186, 188, 0.357);
  }
}

@keyframes standout {
  50% {
    transform: scale(1) rotate(20deg);
  }
  55%,
  60% {
    transform: rotate(20deg) scale(1.1);
  }
  65% {
    transform: rotate(40deg) scale(1.1);
  }
  70% {
    transform: rotate(20deg) scale(1.1);
  }
  75% {
    transform: rotate(40deg) scale(1.1);
  }
  100% {
    transform: scale(1) rotate(20deg);
  }
}

@keyframes standoutquick {
  30% {
    transform: scale(1.2) rotate(20deg);
  }
  40%,
  60% {
    transform: rotate(0deg) scale(1.2);
  }
  50% {
    transform: rotate(40deg) scale(1.2);
  }
  70% {
    transform: rotate(20deg) scale(1.2);
  }
  100% {
    transform: rotate(20deg) scale(1);
  }
}
