.Link-custom {
    // text-decoration: underline;
    text-shadow: 3px 1px 5px rgba(195, 186, 188, 0.5);
    transition: all 200ms ease;
    background-color: rgba(255, 255, 255, 0);

    &:hover {
        text-shadow: 3px 1px 15px rgba(195, 186, 188, 0.569);
        background-color: rgba(255, 255, 255, 0.185);
    }

    &__icon {
        width: 35px;
        height: 35px;
        margin: 0 0 -8px 0;
        
        & > Path {
            fill: url(#iconGradient);
        }
    
        @include toTabletScreen {
          width: 35px;
          height: 35px;
        }
      
        @include toTabletScreenMin {
          width: 30px;
          height: 30px;
        }
      
        @include toPhoneScreen {
          width: 25px;
          height: 25px;
        }
    }
}