@import "./assets/styles/_variables.scss";
@import "./assets/styles/_mixins.scss";

// TODO: split styles into different files

.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.page-selector {
  padding: 10px;
  background: #00000067;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 0px 10px 10px 0px;
  margin: 0;

  @include desktopScreen {
    padding: 20px 15px 20px 10px;
  }

  &__hidden {
    position: absolute;
    top: 50%;
    transform: translate(-30px, -50%);
    z-index: 2;
    padding: 40px 40px 40px 0;
    transition: transform 200ms;
    transition-delay: 1.5s;
    animation: jumpPageSelector 2s normal;

    @include desktopScreen {
      transform: translate(-45px, -50%);
    }

    &:hover {
      transform: translate(0, -50%);
      transition-delay: 0s;
      // addit "s" to "0s" this value will actually make it work
    }
  }

  &__page {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    position: relative;

    @include desktopScreen {
      width: 28px;
      height: 28px;
    }

    &:before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background-color: rgba(255, 255, 255, 0.466);
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      border-radius: 20px;
      transition: all 200ms ease-in-out;

      @include desktopScreen {
        width: 10px;
        height: 10px;
      }
    }

    &:active:before {
      width: 12px;
      height: 12px;
    }

    &:hover {
      filter: drop-shadow(0px 0px 5px $accent3);
      border: 1px solid $accent3;
    }

    &-selected {
      pointer-events: none;
      &:before {
        background-color: white;

        @include desktopScreen {
          width: 22px;
          height: 22px;
        }

        width: 12px;
        height: 12px;
      }
    }
  }
}

.card {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;

  @include phoneScreen {
    padding: 10px;
  }

  &__text {
    padding: 0 100px;
    font-size: 40px;

    @include tabletScreen {
      padding: 0;
      font-size: 30px;
    }
  }

  &__arrow {
    display: flex;
    animation: jumpInfinite 4s infinite;
    filter: drop-shadow(6px 4px 6px rgba(0, 0, 0, 0.712));
    height: 100%;
    align-items: center;

    @include tabletScreen {
      align-items: end;
    }

    &-img {
      width: 120px;
      cursor: pointer;
      transition: all 200ms ease-in-out;
      opacity: 0.5;

      &:hover {
        opacity: 1;
        & > path {
          stroke: white;
        }
      }

      @include tabletScreen {
        width: 50px;
      }

      @include phoneScreen {
        margin: 20px;
      }
    }

    @include phoneScreen {
      margin: 0;
    }
  }
}

.commoner {
  text-shadow: 3px 1px 10px #c3babc2a;
  font-weight: 900;
  margin: 0;
  padding: 0 5px 0 0;
  background: linear-gradient(
    90deg,
    $accent1,
    $accent2,
    $accent1,
    $accent2,
    $accent1
  );
  background-clip: text;
  background-size: 400% auto;
  color: transparent;
  font-variation-settings: "slnt" -8;
  animation: 7s CommonerAnimation 2s ease-in-out infinite;
  position: relative;
}

.transparent {
  opacity: 0;
}

.emoji {
  width: 45px;
  margin: 0 0 -10px 0;

  &:hover {
    animation: hithere 1s ease normal;
  }
}

@keyframes CommonerAnimation {
  0% {
    background-position: 0% center;
  }

  60% {
    background-position: 200% center;
  }

  100% {
    background-position: 200% center;
  }
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: 40px;
  }
  50% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes jumpPageSelector {
  0% {
    transform: translate(0px, -50%);
  }
  90% {
    transform: translate(0px, -50%);
  }
  100% {
    transform: translate(-45px, -50%);
  }
}