@import "./assets/styles/_variables.scss";
@import "./assets/styles/_mixins.scss";

.card {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 50px;

  @include phoneScreen {
    padding: 10px;
  }

  &__text {
    padding: 0 100px;
    font-size: 40px;

    @include tabletScreen {
      padding: 0 20px 0 0;
      font-size: 30px;
    }
  }

  &__arrow {
   
    display: flex;
    animation: jumpInfinite 4s infinite;
    opacity: 0.5;
    
    &:hover {
      opacity: 1;
      transition: all 200ms ease-in-out;
    }

    &-img {
      width: 120px;
      cursor: pointer;
      @include tabletScreen {
        width: 50px;
      }

      @include phoneScreen {
        margin: 20px;
      }
    }

    @include phoneScreen {
      margin: 0;
    }
  }
}

.commoner {
  filter: drop-shadow(2px 5px 5px #4912458c);
  font-weight: 900;
  margin: 0;
  padding: 0 5px 0 0;
  background: linear-gradient(
    90deg,
    $accent1,
    $accent2,
    $accent1,
    $accent2,
    $accent1
  );
  background-clip: text;
  background-size: 400% auto;
  color: transparent;
  font-variation-settings: "slnt" -8;
  animation: 7s CommonerAnimation 2s ease-in-out infinite;
  position: relative;

}

.emoji {
  width: 50px;
  margin: 0 0 -10px 0;
}

@keyframes CommonerAnimation {
  0% {
    background-position: 0% center;
  }

  60% {
    background-position: 200% center;
  }

  100% {
    background-position: 200% center;
  }
}


@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: 40px;
  }
  50% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}