@import "./assets/styles/_variables.scss";
@import "./assets/styles/_mixins.scss";

.card {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 50px;

  @include phoneScreen {
    padding: 10px;
  }

  &__text {
    padding: 0 100px;
    font-size: 40px;

    @include tabletScreen {
      padding: 0 20px 0 0;
      font-size: 30px;
    }
  }

  &__arrow {
    margin: 0 0 0 100px;
    display: flex;
    
    &-img {
      width: 80px;

      @include tabletScreen {
        width: 50px
      }

      @include phoneScreen {
        margin: 20px;
      }
    }

    @include phoneScreen {
      margin: 0;
    }
  }

  &__commoner {
    filter: drop-shadow(0px 5px 3px #00000038);
    font-weight: 900;
    margin: 0 5px 0 0;
    padding: 0 5px 0 0;
    background: -webkit-linear-gradient(45deg, #ab40ff, #b14242);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-variation-settings: "slnt" -8;
  }
}
