@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-8,100..900&display=swap");
@import "./assets/styles/_variables.scss";

:root {
  font-family: Inter, system-ui;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-variation-settings: "slnt" 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  /* TODO: look into using @property for animated transition on variable change*/
  @each $theme in $themes {
    $i: index($themes, $theme);
    .theme#{$i} {
      @each $name, $color in $theme {
        --#{$name}: #{$color};
      }
    }
  }
}

body {
  box-sizing: border-box;
  background-color: $background;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
}

p {
  margin: 0;
}

b {
  text-shadow: 3px 1px 5px rgba(195, 186, 188, 0.22);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.section {
  width: 100%;
  padding: 130px 50px 30px 50px;
  box-sizing: border-box;
  overflow: auto;
  height: 100%;
  min-height: 0;

  @include toPhoneScreen {
    padding: 100px 32px 20px 32px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}