@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-8,100..900&display=swap");
@import "./assets/styles/_variables.scss";

:root {
  font-family: Inter, system-ui;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-variation-settings: "slnt" 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  /* TODO: look into using @property for animated transition on variable change*/
  @each $theme in $themes {
    $i: index($themes, $theme);
    .theme#{$i} {
      @each $name, $color in $theme {
        --#{$name}: #{$color};
      }
    }
  }
}

body {
  box-sizing: border-box;
  background-color: $background;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 0;
}

p {
  margin: 0;
}

b {
  text-shadow: 3px 1px 5px rgba(195, 186, 188, 0.22);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.animate-render {
  animation: splash 300ms normal forwards ease-in-out;
}

@keyframes splash {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.section {
  width: 100%;
  padding: 130px 50px 30px 50px;
  box-sizing: border-box;
  min-height: 100%;
  min-height: 0;

  @include toPhoneScreen {
    padding: 100px 32px 32px 32px;
  }
}

.gradient-text {
  text-shadow: 3px 1px 10px rgba(195, 186, 188, 0.212);
  font-weight: 900;
  background: linear-gradient(
    90deg,
    var(--primary),
    var(--secondary),
    var(--primary),
    var(--secondary),
    var(--primary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 400% auto;
  color: transparent;
  font-variation-settings: "slnt" -8;
  animation: 7s GradientText 2s ease-in-out infinite;
}

.emoji {
  width: 45px;
  margin: 0 0 -10px 0;
  cursor: pointer;

  &:hover {
    animation: hithere 1s ease normal;
  }

  @include toTabletScreen {
    width: 40px;
  }

  @include toTabletScreenMin {
    width: 35px;
  }

  @include toPhoneScreen {
    width: 30px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}

@keyframes GradientText {
  0% {
    background-position: 0% center;
  }

  60% {
    background-position: 200% center;
  }

  100% {
    background-position: 200% center;
  }
}

@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
