$screen-phone-min: 576px;
$screen-tablet-min: 720px;
$screen-tablet-max: 1000px;
$screen-desktop-min: 1500px;

//---- colors ----//

$background: #282b30;
$accent1: #ab40ff;
$accent2: #40fff5;
$accent3: #5eaeeb;

$accent4: #ff5050;
$accent5: #ff8a00;
$accent6: #ff2020;

$accent7: #ff2983;
$accent8: #ff9e9e;
$accent9: #b546ff;