$screen-phone-min: 576px;
$screen-tablet-min: 720px;
$screen-tablet-max: 1000px;
$screen-desktop-min: 1500px;

// to add new theme create a map like $theme4, fill it with colors similarly to previous themes and add it to $themes list
// its important to keep adding numbers for themes in the end EXAMPLE: $theme4 $theme5 $theme6

$background: #282b30;

$theme1: (
  "primary": #ab40ff,
  "secondary": #40fff5,
  "support": #60a6db,
);

$theme2: (
  "primary": #ff5050,
  "secondary": #ff8a00,
  "support": #ff2020,
);

$theme3: (
  "primary": #ff2983,
  "secondary": #ff9e9e,
  "support": #e0b4fd,
);

$themes: $theme1 $theme2 $theme3;