$screen-phone-min: 576px;
$screen-tablet-min: 1000px;

//---- colors ----//

$background: #282b30;
$accent1: #ab40ff;
$accent2: #40fff5;
$accent3: #5EAEEB;

$accent4: #FF5050;
$accent5: #FF8A00;
$accent6: #ff2020;

$accent7: #FF2983;
$accent8: #FF9E9E;
$accent9: #b546ff;