.card-map {
  padding-top: 0;
}

.card__map {
  width: 100%;
  height: 100%;

  @include toPhoneScreen {
    padding: 45px 0;
  }

  .three-embedded {
    color: white;
    display: block;
    position: relative;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 25px;
    border: 1px solid white;
    transition: all 250ms ease-in;
    padding: 10px;
    font-size: 60%;
    background: linear-gradient(
      140deg,
      rgba(255, 255, 255, 0.2) 0%,
      color-mix(in srgb, var(--primary) 40%, transparent) 120%
    );
    width: max-content;
    line-height: normal;
    box-shadow: 2px 7px 15px rgba(0, 0, 0, 0.2);

    @include toTabletScreen {
      border-radius: 15px;
      padding: 6px;
    }

    @include toPhoneScreen {
      font-size: 75%;
    }

    &:before {
      position: absolute;
      content: "";
      box-sizing: border-box;
      display: block;
      width: 0px;
      height: 0px;
      border-right: 5px solid white;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      left: -5px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.6;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &--link {
        cursor: pointer;
        text-transform: uppercase;
        align-self: flex-end;
        font-variation-settings: "slnt" -8;
        padding: 8px 15px;
        font-size: 70%;
        border-radius: 25px;
        font-weight: 600;
        font-family: inherit;
        color: rgba(255, 255, 255, 0.9);
        background: linear-gradient(
          20deg,
          var(--primary),
          var(--secondary),
          var(--support)
        );
        background-size: 300% auto;
        transition: all 300ms ease-out;
        width: fit-content;
        border: 1px solid rgba(255, 255, 255, 0.5);
        align-self: flex-end;
        margin-top: auto;

        @include toTabletScreen {
          padding: 4px 10px;
        }

        &:hover {
          background-position: 40% center;
          border: 1px solid white;
          color: white;
        }
      }
    }
  }

  canvas {
    border-radius: 25px;
  }
}
